# =========================
# Środowiska wirtualne
# =========================
venv/
.venv/
env/
.env/

# =========================
# Skompilowane pliki Pythona
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Zmienne środowiskowe / Sekrety
# =========================
.env

# =========================
# Ustawienia IDE i edytorów
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Pliki systemowe
# =========================
.DS_Store
Thumbs.db

# =========================
# Pliki dystrybucyjne / logi
# =========================
build/
dist/
*.egg-info/
*.log

# Dataset
Waste-Classification-1/

#Wykresy
*.png

#Zapisywanie najlepszego modelu na walidacji
*pth