# Core ML & Data
torch>=2.0.0
torchvision
numpy
pandas
scikit-learn
scipy

# Wizualizacja
matplotlib
seaborn

# Przetwarzanie obrazów
opencv-python-headless
pillow

# Narzędzia
tqdm
roboflow
python-dotenv

# Środowisko
ipykernel
